.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.logo {
  padding: 25px;
}

.logo-photo {
  max-width: 450px;
  color: white;
}

.links-dates {
  padding-top: 25px;
}

.social-links {
  display: flex;
  margin-left: 35px;
}

.social-link {
  padding: 4px;
  color: white;
}

.social-link:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
  animation: change 0.4s;
}

@keyframes change {
  0% {color: white; background-color: black;}
  100% {color:black; background-color: white}
}

.menu-bar {
  visibility: hidden;
  /* visibility:unset; */
}

.icon {
  color: white;
  padding: 4px;
}
/* 
.dates {
  float: right;
  padding: 10px;
  white-space: nowrap;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
} */

/* .menu-bar {
  color: white;
  display: none;
} */

.navbar-links {
  display: flex;
  justify-content: space-between;
  background-color: none;
  margin: 2% 18%;
}

.navbar-links-left {
  /* margin-left: 20px; */
  display: flex;
}

.navbar-link-left {
  padding: 14px;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 450;
  cursor: pointer;
  transition: .16s;
}

.navbar-link-left:hover {
  color: white;
  /* padding: 11px; */
  /* border: 3px solid black; */
  /* border-top: 3px solid black; */
  /* border-left: 3px solid black; */
  /* border-right: 3px solid black; */
  /* border-bottom: 3px solid white; */
}

.navbar-link-left:active {
  border-bottom: 3px solid black;
}

.navbar-links-right {
  display: flex;
  /* margin-right: 15px; */
}

.navbar-link-right {
  padding: 14px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-size: 1.7rem;
  font-weight: 450;
  transition: .16s;

  cursor: pointer;
  border: none;
}
.navbar-link-right:hover {
  /* padding: 11px;
  border: 3px solid black; */
  color: white;
  /* border-top: 3px solid black; */
  /* border-left: 3px solid black; */
  /* border-right: 3px solid black; */
  /* border-bottom: 3px solid white; */
}

.navbar-link-right:active {
  border-bottom: 4px solid black;
}

@keyframes fade {
  0% {background-color: black;}
  100% {background-color: rgb(73, 73, 73);}
}


.navbar-logo {
  padding: 10px;
}

.navbar-logo-photo {
  max-width: 200px;
  background-color: black;
}