.body {
  background-image: linear-gradient(tan, transparent, tan),
  url("../../Images/90725347-716E-4C84-8FCD-02DEA182ADD5.JPEG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
  justify-content: center;
  display: grid;
  background-blend-mode: hard-light;
  min-width: 50vw;
  max-width: 90vw;
  max-height: 90vh;
  transform:translate(5%) ;
}